<div class="container">
  <hr>
  <footer id="footer">
      <div class="container" style="text-align: center;">
        <div class="copyright">
          &copy; Copyright <strong>qfdk</strong>. All Rights Reserved
        </div>
        <div class="smarthomefans">
          <p>欢迎使用由 smarthomefans 提供<a href="https://github.com/smarthomefans/EasyDockerWeb">EasyDockerWeb</a>汉化版本。
        如需发现更多好玩的智能家居玩法<a href="https://bbs.iobroker.cn">请访问这里</a></p>
        </div>
      </div>
    </footer>
</div>
<!-- jQuery -->
<script src="/static/js/jquery.min.js"></script>
<!-- Bootstrap JavaScript -->
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-select.min.js"></script>
<script src="/static/js/bootstrap3-typeahead.min.js"></script>
<script src="/static/js/socket.io.js"></script>
<script src="/static/js/app.js"></script>
</body>
</html>
